[submodule "spoa"]
	path = spoa
	url = https://github.com/rvaser/spoa
[submodule "TwoPaCo"]
	path = TwoPaCo
	url = https://github.com/medvedevgroup/TwoPaCo
	branch = 0.9.4
[submodule "maf2synteny"]
	path = maf2synteny
	url = https://github.com/fenderglass/maf2synteny
